<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @agent.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @agent.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @agent.lastName %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @agent.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @agent.email %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @agent.isActive %>
</p>

<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
