<p id="notice"><%= notice %></p>

<p>
  <strong>Codeproduct:</strong>
  <%= @product.codeProduct %>
</p>

<p>
  <strong>Codeprovider:</strong>
  <%= @product.codeProvider %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Details:</strong>
  <%= @product.details %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @product.subcategory %>
</p>

<p>
  <strong>Image:</strong>
  <%= @product.image %>
</p>

<p>
  <strong>Price1:</strong>
  <%= @product.price1 %>
</p>

<p>
  <strong>Price2:</strong>
  <%= @product.price2 %>
</p>

<p>
  <strong>Price3:</strong>
  <%= @product.price3 %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @product.cost %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @product.isActive %>
</p>

<p>
  <strong>Isexcent:</strong>
  <%= @product.isExcent %>
</p>

<p>
  <strong>Isinventary:</strong>
  <%= @product.isInventary %>
</p>

<p>
  <strong>Inventary:</strong>
  <%= @product.inventary %>
</p>

<p>
  <strong>Unitsize:</strong>
  <%= @product.unitSize %>
</p>

<p>
  <strong>Expireddate:</strong>
  <%= @product.expiredDate %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
